@model HandMadeCraftAdminServer.Models.User.User

@{
    ViewBag.Title = "User Details";
    Layout = "_Layout";
}

<h2 class="text-center mt-4 mb-3">User Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">User ID:</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">First Name:</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>

        <dt class="col-sm-3">Last Name:</dt>
        <dd class="col-sm-9">@Model.LastName</dd>

        <dt class="col-sm-3">Email:</dt>
        <dd class="col-sm-9">@Model.Email</dd>
    </dl>
    <div class="text-center">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
          <a asp-controller="Users" asp-action="Chat" asp-route-id="@Model.Id">Start Chat</a>
    </div>
</div>
