@model IEnumerable<HandMadeCraftAdminServer.Models.User.User>

@{
    ViewBag.Title = "Users Management";
    Layout = "_Layout";
}

<h2 class="text-center mt-4 mb-3">Users Management</h2>

<div>
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th> 
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "Users", new { id = user.Id })">Edit</a>
                        <a class="btn btn-sm btn-success" href="@Url.Action("Detail", "Users", new { id = user.Id })">Detail</a>
                        <a asp-controller="Users"
                           asp-action="Delete" onclick="return confirm('Do you want to delete')"
                           asp-route-id="@user.Id" class="btn btn-sm btn-outline-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No users available.
        </div>
    }
</div>



